.reeding {
    background-image: url("../images/image-4.png");
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: end;
    }

    &__inner {
        max-width: 285px;
    }

    &__title {
        color: rgb(64, 62, 59);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
    }
}
