$fontMain: "Poppins";
$white: #ffffff;
$black: #1b1a1a;
$transition: 0.25s;
$bgColor1: #ece7e4;
$bgColor2: #403e3b;
$bgColor3: rgb(206, 196, 188);
$bgColor4: #f7f7f7;
$textColor: #645c55;
$textColor2: rgb(236, 231, 228);
$active: rgb(182, 52, 52);
$activeHover: rgb(213, 120, 120);
$activeVisited: rgb(127, 36, 36);
